raw_data/
output/
dataset/
pre_datasplit/
testing/
code/test.py
archive/
filtered_data/
trained_models/
object_detection_training/
debugging/
corrected_images/
code/archive/
segmentation_training/
code/upsampling.py
runs/

*.yaml
*.csv
*.pt
*.env


